<!DOCTYPE html>
<html lang="en">
<head>
    {% include '/common/commHeader.html' %}
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    {% include '/common/sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            {% include '/common/topbar.html' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">클럽 행사 목록</h6>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end mb-2">
                            <div class="d-flex align-items-center" style="width: 30%;">
                                <span class="mr-3">회기</span>
                                    <select style="text-align: center" class="form-control" id="eventperiod" name="eventperiod" onchange="onPeriodChange()">
                                        {% for per in periodlist %}
                                            <option value="{{ per.periodNo }}" {% if per.periodNo|int == periodno|int %}selected{% endif %}>{{ per.periodTitle2 }}회기 ({{ per.yearFr }}~{{ per.yearTo }})</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr style="text-align: center">
                                    <th>행사명</th>
                                    <th>행사명(영문)</th>
                                    <th>행사기간(시작)</th>
                                    <th>행사기간(종료)</th>
                                    <th>배치순서</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for event in ceventlist %}
                                    <tr>
                                        <td style="text-align: center"><a href = /club_eventedit/{{event.eventNo}}>{{ event.eventTitle }}</a></td>
                                    <td style="text-align: center">{{ event.eventTitleEng }}</td>
                                    <td style="text-align: center">{{ event. eventFrom }}</td>
                                    <td style="text-align: center">{{ event.eventTo }}</td>
                                    <td>{{ event.sortNo }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-end">
                                <div class="col" style="max-width: 30%">
                                  <button type="button" class="form-control btn btn-danger" onclick="regnew()">새행사 등록 </button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SOFTCORE 2026</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
{% include '/common/commonScript.html' %}
<script>

function regnew() {
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = '/club_eventnew/{{session.user_Clubno}}';
    document.body.appendChild(form);
    form.submit();
    document.body.removeChild(form);
}

  function onPeriodChange() {
    const periodno = document.getElementById('eventperiod').value;
    const clubno = "{{ session.user_Clubno }}";
    window.location.href = `/club_eventlist/${clubno}/${periodno}`;
  }
</script>
</body>
</html>
